.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 80vh;
    background-image: url("../../public/header.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.header-logo {
    width: 300px;
    height: auto;
}
