body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.register-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  position: relative;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

h2 {
  text-align: center;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  font-size: larger;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 105%;
}

button {
  padding: 10px;
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.submit-button {
  width: 50%;
}

.back-button {
  background-color: #6c757d;
}

.back-button:hover {
  background-color: #5a6268;
}

.custom-alert {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #d4edda;
  color: #155724;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.error-message {
  color: red;
  margin-bottom: 15px;
  text-align: center;
}

.name-fields, .location-fields {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  gap: 10px;
}

.name-fields input,
.location-fields input {
  width: 35%;
}

.phone-fields {
  width: 70%;
  margin-bottom: 20px;
}

.emailAndPass {
  justify-content: center;
  align-items: center;
  margin-left: -78px;
}

.emailAndPass input {
  width: 122%;
}